@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');



.body{
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index:1;
}

.otp-card {
  text-align: center;
  background: white;
  border-radius: 20px;
  padding: 3rem;
  box-shadow: 0 10px 40px -20px black;
  z-index: 2;
  /* height: 200; */
}

.otp-card-inputs {
  margin: 30px 0;
  display: grid;
  gap: 30px;
  justify-content: center;
  grid-template-columns: repeat(4,auto);

}

.otp-card-inputs input{
  width: 60px;
  height: 70px;
  font-size: 35px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid black;

}

.otp-card-inputs input:focus{
  outline: 2px solid #265073;
  border-color: transparent;
  
}

 
.back-button {
  display:inline-flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  background-color: #ffffff;
  color: #265073;
  /* border: none; */
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-decoration: none;
  margin-right: 120px;
  margin-top: 18px;
  margin-bottom: -60px;
  border: rgba(0, 0, 0, 0.403) solid 1px;
}

.back-button:hover {
  cursor: pointer;
  background: #265073;
  color: #fff;
  border: none;
}


.otp-card button{
  /* background: #265073;
  border: none;
  padding: 15px 50px;
  font-size: ;
   */
   width: 40%;
   height: 45px;
   background: #265073;
   border: none;
   outline: none;
   border-radius: 6px;
   cursor: pointer;
   font-size: 1em;
   font-weight: 500;
   color: #fff;
   margin-left:20px;
   margin-top: 20px;
}

.otp-card button:hover{
  opacity: .9;
  /* cursor: default; */
}
 
.otp-card button[disabled] {
  opacity: .6;
  cursor: default;
}

.otp-card .txt{
  color: #265073;
  text-decoration: none;
}


.otp-card .txt:hover{
  text-decoration: underline;
}
/* Responsive styles */

@media only screen and (max-width: 768px) {
  .otp-card {
    padding: 2rem;
  }

  .otp-card-inputs {
    grid-template-columns: repeat(4, 1fr);
  }

  .otp-card-inputs input {
    width: 40px;
    height: 50px;
    
    font-size: 20px;
  }

  .back-button {
    margin-right: 10px;
    margin-bottom: 20px; 
  }

  .otp-card button {
    width: 60%;
  }
}