.overlay-content {
    height: 600px;
}
.main-headerr .content {
    display: grid;
    place-items: center;
}

.main-headerr .content h3 {
    color: #000 !important;
    margin-top: 100px;
}

.main-headerr .content input {
    width: 339px;
    margin-top: 60px;
    padding: 7px;
    border-radius: 5px;
}

.main-headerr .content .arrow {
    margin-top: 90px;
}

.main-headerr .content .arrow .arrow1 {
    margin-right: 230px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    border: rgba(0, 0, 0, 0.403) solid 1px;
}

.main-headerr .content .arrow .arrow1:hover {
    cursor: pointer;
    background: #265073;
    color: #fff;
    border: none;
}

.main-headerr .content .arrow button {
    background-color: #265073;
    color: #fff;
    border: 1px solid #265073;
    border-radius: 10px;
    width: 101px;
}

.main-headerr .content .arrow .arrow2 {
    margin-left: 17px;
    color: #fff;
}

/* Media Screen */

@media (max-width:430px) {
    .overlay-content {
        height: 675px;
    }
    .main-headerr .content input {
        width: 300px;
    }

    .main-headerr .content .arrow .arrow1 {
        margin-right: 160px;
    }
}