.icons {
    color: #fff;
    margin-right: 130px;
}

.on_icon {
    margin-right: 20px;
}

.card1 {
    margin-top: 115px;
}

@media (max-width: 576px)  {
    .main-header {
        height: 500px;
    }

    .icons {
        margin-right: 0px;
        margin-left: 12px;
    }
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    
    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }
    
    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }
    
    @media (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }
    
    .about {
        margin: 20px auto;
    }
    
    .about .heading1 {
        font-weight: bolder;
        font-size: 13px;
        text-transform: uppercase;
        color: #265073;
        letter-spacing: 1.5px;
        margin-bottom: 0px;
    }
    
    .card1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 100px 0;
        border: none !important;
        visibility: visible;
        transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out, visibility 0.8s ease-in-out;
    }
    
    .card1 > img {
        width: 25%;
        visibility: visible;
        transition: transform 0.8s ease-in-out;
    }
    
    .card1:hover {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
    
    .card1:hover > img {
        transform: scale(1.1);
    }
    .card1 .txt1 {
        font-weight: 600;
        font-size: 25px;
        color: #333;
        letter-spacing: 1.2px;
        margin: 0px auto;
        transform: translateY(20px);
        transition: transform 1s ease-out;
    }
    
    .card1:hover .txt1 {
        transform: translateY(0);
    }
    
    
    
    
    
    
    
    .card1 .btn1 {
        margin-top: 20px;
        background-color: #265073;
        border: none;
        border-radius: 5px;
        font-weight: 500;
        letter-spacing: 1.1px;
        padding: 4px 12px;
        color: white;
        cursor: pointer;
    }
    
    /* تحديد تسلسل الحركة للظهور */
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    /* تطبيق الأنيميشن على العنصر المراد */
    .animated-element {
        animation: fadeIn 1s ease-out;
    }
    
    @media (max-width: 768px) {
        .card1 {
            flex-direction: column;
            margin-bottom: 70px;
            gap: 30px;
            text-align: center;
        }
    
        .card1 > img {
            width: 200px;
        }
    }