.overlay-content {
    height: 650px;
}
.page_content .icon {
    display:inline-flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    background-color: #ffffff;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    text-decoration: none;
    margin-top: 32px;
    border: rgba(0, 0, 0, 0.403) solid 1px;
    margin-left: 104px;
}

.page_content .icon:hover {
    background-color: #265073;
    color: #ffffff;
}

.page_content .updating {
    display: grid;
    place-items: center;
}

.page_content .updating form {
    display: grid;
    place-items: center;
    padding: 25px;
}

.page_content .updating form input {
    width: 400px;
    margin-top: 20px;
    padding-left: 15px;
    height: 35px;
    border-radius: 10px;
}

.page_content .updating button {
    width: 400px;
    color: #ffffff;
    background-color: #265073;
    border: 1px solid #265073;
    border-radius: 5px;
    height: 35px;
}

/* Media Screen */

@media (max-width:430px) {
    .overlay-content {
        height: 812px;
    }
    .page_content .icon {
        margin-left: 5px;
    }
    .page_content .updating {
        display: block;
    }

    .page_content .updating img {
        margin-left: 115px;
    }

    .page_content .updating form {
        display: block;
        padding: 25px;
    }

    .page_content .updating form input {
        width: 268px;
        margin-left: 20px;
    }

    .page_content .updating button {
        width: 268px;
        margin-left: 45px;
    }
} 